/** Fonts */
/*? Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*? Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "San Francisco";
  src: url("../assets/fonts/San-Francisco/pro/SF-Pro-Text-Regular.otf")
    format("otf");
  font-weight: normal;
}

@font-face {
  font-family: "San Francisco";
  src: url("../assets/fonts/San-Francisco/pro/SF-Pro-Text-Bold.otf")
    format("otf");
  font-weight: bold;
}

@font-face {
  font-family: "San Francisco";
  src: url("../assets/fonts/San-Francisco/pro/SF-Pro-Text-Semibold.otf")
    format("otf");
  font-weight: 600;
}

@font-face {
  font-family: "San Francisco";
  src: url("../assets/fonts/San-Francisco/pro/SF-Pro-Text-Light.otf")
    format("otf");
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  /* height: 500vh; */
}

body,
button,
input {
  font-family: "San Francisco", "Roboto", "Poppins", sans-serif;
}

header {
  overflow: hidden;
}

.product-nav {
  background-color: black;
  height: 50px;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
}

.product-nav__item {
  padding: 4px;
  margin: 0px 30px;
}

.product-nav__link {
  text-decoration: none;
  color: rgb(192, 192, 192);
  filter: brightness(0.75);
  transition: all 0.4s ease;
}

.product-nav__link--active {
  color: white;
}

.product-nav__link:hover {
  filter: brightness(1.1);
  color: white;
}

.product-nav__icon {
  height: 1rem;
}

.menu-bar {
  height: 50px;
  background-color: rgba(29, 29, 31, 0.9);

  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #cacaca4b;

  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
}

.menu-bar__content {
  width: 52%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar__title {
  font-size: 1.4rem;
  flex: 1;
  font-weight: 500;
}

.menu-bar__title a {
  text-decoration: none;
  color: white;
}

.menu-bar__actions {
  display: flex;
  align-items: center;

  list-style: none;
  font-size: 0.78rem;
  font-weight: 300;
}

.menu-bar__action {
  margin: 0 0.3rem;
}

.menu-bar__action__link {
  text-decoration: none;
  color: rgb(179, 179, 179);
  transition: all 0.4s ease;
}

.menu-bar__action__link:hover {
  color: #2997ff;
}

.menu-bar__action__link--active {
  color: white;
}

.menu-bar__action__link--button {
  background-color: #2997ff;
  padding: 0.4rem 0.65rem;
  border-radius: 2rem;
}

.menu-bar__action__link--button:hover {
  background-color: white;
}

.product-shop {
  height: 50px;
  background-color: #141416;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  font-size: 0.9rem;
}

.product-shop a {
  text-decoration: none;
}

.blue {
  color: #2997ff;
}

.product-presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#hero-video {
  margin-top: 4rem;
  height: 60%;
  width: 60%;
  object-fit: cover;

  opacity: 0;

  animation: fade-in 1s 1.1s ease-in forwards;
}

.product-presentation__description {
  position: relative;
  color: white;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: -100px;

  overflow: hidden;
}

.product-presentation__description__title {
  opacity: 0;
  transform: translateY(100%);
  animation: slide-in 1s 0.2s ease-out forwards,
    fade-in 1s 0.5s ease-in forwards;
}

.product-presentation__description__story {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 85%;
  color: #a1a1a6;
  line-height: 1.2;
}

.product-presentation__description__story h1 {
  font-size: 6rem;
  background: rgb(178, 180, 190);
  background: radial-gradient(
    circle,
    rgba(178, 180, 190, 1) 0%,
    rgba(72, 73, 77, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  opacity: 0;
  transform: translateY(100%);
  animation: slide-in 1.5s 1.3s ease-out forwards,
    fade-in 1s 1.7s ease-in forwards;
}

.product-presentation__description__story p {
  font-size: 1.85rem;
  font-weight: 500;
  text-align: center;

  opacity: 0;
  transform: translateY(50%);
  animation: slide-in 1.5s 1.9s ease-out forwards,
    fade-in 1s 2.4s ease-in forwards;
}

.product-presentation__chip {
  display: flex;
  align-items: center;
  margin: 3rem;

  opacity: 0;
  transform: translateY(100%);
  animation: slide-in 1.5s 0.5s ease-out forwards,
    fade-in 1s 0.8s ease-in forwards;
}

.product-presentation__chip img {
  height: 100px;
}

.product-presentation__chip p {
  font-size: 1.75rem;
  font-weight: 600;
  color: #a1a1a6;
}

.product-presentation__price {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;

  /* opacity: 0; */
  transform: translateY(100%);
  animation: slide-in 0.5s 1.5s ease-out forwards;
}

.product-presentation__price p {
  padding-right: 3rem;
  border-right: 2px solid white;
}

.product-presentation__link {
  text-decoration: none;
  color: white;
}

.product-presentation__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.product-chip {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.product-chip__name {
  display: flex;
  align-items: center;
  color: #a1a1a6;
}

.product-chip__title {
  font-size: 4rem;
  margin: 1rem 0;
}

.product-chip__description {
  font-size: 1.75rem;
  color: #a1a1a6;
}

.product-chip__image {
  width: 1000px;
}

.product-card {
  width: 70%;
  margin: 1.5rem auto;

  /* background-color: #222; */

  border-radius: 25px;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.product-card__specs {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10%;
  top: 30%;
}

.product-card__spec {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 2rem;
}

.product-card__spec h1 {
  font-size: 5rem;
}

.product-card__spec p {
  font-size: 1.2rem;
}

.dfr {
  display: flex;
  align-items: center;
}

.product-card--cpu {
  background: rgb(10, 26, 51);
  background: linear-gradient(
    40deg,
    rgba(10, 26, 51, 1) 0%,
    rgba(52, 39, 79, 1) 39%,
    rgba(99, 31, 68, 1) 100%
  );
}

.product-card--gpu__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.product-card--cpu__image {
  position: absolute;
  top: 13%;
  right: 0;
  height: 550px;

  filter: brightness(0.75);
  transition: all 0.2s ease;

  transform: translateX(100%);
  animation: slide-in 0.75s 0.2s ease-out forwards;
}

.product-card--cpu__image:hover {
  filter: brightness(1);
}

.product-card__name {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
}

.product-card__title {
  width: 35%;
  font-size: 3.75rem;
}

.product-card__description {
  width: 33%;
  line-height: 1.45;
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.product-card__cta {
  padding: 0.45rem;
  border-radius: 25px;
  border: 1px solid white;
  width: 20%;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease;
}

.product-card__cta:hover {
  background: #fff;
  color: #772e7e;
  border-color: #502166;
}

.purple {
  color: #8679cb;
}

.big {
  font-size: 7rem !important;
}

/* Animations */

.slide-up {
  opacity: 0;
  transform: translateY(100%);
  animation: slide-in 1s 0.2s ease-out forwards,
    fade-in 1s 0.5s ease-in forwards;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
  }
  100% {
    transform: translate(0%, 0%);
  }
}
